<div class="card">
  <div class="card-body">
    <div class="row">
      <h5 class="col-sm-8">AVERAGE PURCHASE VALUE</h5>

      <mat-form-field class="col-sm-3">
        <mat-label>Period</mat-label>
        <mat-select>
          <mat-option *ngFor="let period of periods" [value]="period.value">
            {{ period.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      class="col-sm-1">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>mode_edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
    <div>
      <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [labels]="chartOptions.labels"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
      [dataLabels]="chartOptions.dataLabels"
      [fill]="chartOptions.fill"
      [tooltip]="chartOptions.tooltip"></apx-chart>
    </div>
  </div>
</div>
