button {
  background-color: white;
  border-color: transparent;
  float: right;
}

.font-main-title {
  text-align: left;
  font: normal normal normal 20px/13px Source Sans Pro;
  letter-spacing: 0;
  color: #4D4F5C;
  opacity: 1;
}

.font-title {
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0;
  color: #000000DE;
  opacity: 1;
}

.font-content {
  text-align: left;
  font: normal normal normal 14px/20px Source Sans Pro;
  letter-spacing: 0.25px;
  color: #00000099;
  opacity: 1;
}
